/data/
/bin/
/config/spaces.json
/config/keys.json
/config/accounts.json
/config/smtp-password
/config/account-database.json
/config/database-password
*.exe
snapshots/
/notes
/Slate_Markdown_Components_v0.9.2-wire.1
